/* Sidebar.css */

.sidebar {
  width: 250px; /* Increase the sidebar width as needed */
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  right: -250px; /* Change from left to right to expand from the right */
  transition: right 0.3s;
  z-index: 999; /* Ensure it's above other elements */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

.sidebar.open {
  right: 0; /* Change from left to right to expand from the right */
}

.sidebar-toggle {
  background: none;
  border: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the bars to the left */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
}

.sidebar-nav {
  padding-top: 50px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  padding: 10px;
  text-align: left; /* Align the links to the left */
}

.sidebar-nav ul li:hover {
  background-color: #444;
}

/* Style the links inside the sidebar */
.sidebar-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.sidebar-nav ul li a:hover {
  color: #f39c12;
}
